html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}

.home-page {
  min-height: 100vh;
  background-image: url(../assets/cccircular.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  border: 0.1px solid transparent;
}