@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend:wght@100..900&display=swap');

:root {
  --background: #181818;
  --secondary-blue: #81c6ff;
}
* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--background);
}

nav {
  width: 100%;
  background-color: var(--background);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: stretch;
  border-bottom: 2px solid white;
}

a {
  color: white;
  text-decoration: none;
  height: 100%;
}

ul {
  list-style: none;
  display: flex;
  gap: calc(5vw + 5px);
  align-items: center;
  margin: 0;
  padding: 0;
}

li a {
  font-family: "Lexend", sans-serif;
}

nav li {
  /*padding: 1.1rem 0.5rem;*/
  font-size: calc(0.8vw + 6px);
}

.nav-link {
  transition: 0.1s ease-in-out;
}

.nav-link:hover {
  background-color: #464646;
}
.nav-link.active {
  background-color: var(--secondary-blue);
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 1.1rem 0.5rem;
}

.navbar-title {
  font-family: "Audiowide", sans-serif;
  font-size: calc(2vw + 15px);
  display: flex;
  align-self: center;
}

.navbar-title span {
  color: var(--secondary-blue);
}